{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Таблица -->
  	<section>
  		<div class="container">
  			<h1 class="text-3">Доступные инвестиционные портфели</h1>
  			<table class="table table_one">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">Название портфеля</th>
			      <th scope="col">Дата создания</th>
			    </tr>
			  </thead>
			  <tbody>
			  {% for obj in portfolio_list %}
			    <tr>
			      <td>{{ obj.name }}</td>
			      <td>{{ obj.created_at }}</td>
			    </tr>
			  {% endfor %}
			  </tbody>
			</table>
  		</div>
  	</section>

{% endblock %}